.auth-nav__link, .site-nav__link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.clients-title, .team-title, .work-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-wrap__job, .team-wrap__name {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-sing-title, .social-wrap-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-sign, .hero__button {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.section {
  padding: 94px 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: block;
  text-decoration: none;
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.logo__second {
  color: #2196F3;
}

.logo-footer {
  display: block;
  text-decoration: none;
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
  margin-bottom: 20px;
}
.logo-footer__second {
  color: #FFFFFF;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 90px;
  margin-right: auto;
}

.site-nav {
  display: flex;
  gap: 50px;
}

.site-nav__link {
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}
.site-nav__link--active {
  color: #2196F3;
}
.site-nav__link--active::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2196F3;
}

.auth-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #757575;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196F3;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2F303A;
  padding: 200px 0;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__button {
  margin: 30px auto 0;
  min-width: 216px;
  display: block;
}

.features-section {
  padding-top: 94px;
}

.features {
  display: flex;
  gap: 30px;
}
.features__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.features-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}
.features-wrap__icon {
  width: 70px;
  height: 70px;
}

.work {
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__meta {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

.work-section {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #F5F4FA;
}

.team {
  display: flex;
  gap: 30px;
}

.team-wrap {
  padding: 30px 0;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-wrap__name {
  font-weight: 500;
}
.team-wrap__job {
  margin-top: 10px;
  margin-bottom: 16px;
  color: #757575;
}

.social {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social__item {
  width: 44px;
  height: 44px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  color: #AFB1B8;
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  color: #FFFFFF;
}

.brand {
  display: flex;
  gap: 30px;
}
.brand__item {
  width: 170px;
  height: 92px;
}
.brand__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.brand__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.brand__link:hover, .brand__link:focus {
  border-color: #2196F3;
  color: #2196F3;
}

.footer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 0;
  background-color: #2F303A;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.address__link--contact {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--contact:hover, .address__link--contact:focus {
  color: #2196F3;
}

.social-wrap {
  margin-right: 93px;
  margin-left: 70px;
}

.social-footer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.social-footer__item {
  width: 44px;
  height: 44px;
}
.social-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}
.social-footer__link:hover, .social-footer__link:focus {
  background-color: #2196F3;
}
.social-footer__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-footer__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}
.form-footer__input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: #FFFFFF;
}

.button-sign {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.button-sign__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
.projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}
.projects-thumb__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover .projects-thumb__text {
  transform: translateY(0);
}

.projects-meta {
  padding: 20px 24px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-top: none;
}
.projects-meta__name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-meta__label {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
}

.modal__icon {
  fill: currentColor;
}
.modal__button:hover .modal__icon, .modal__button:focus .modal__icon {
  color: #2196F3;
}

/* FORM MODAL */
.form {
  display: flex;
  flex-direction: column;
}

.strong-title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.field-form {
  position: relative;
}

.form-label {
  display: flex;
  align-content: flex-start;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color-text);
}

.field-form .comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-form .comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field-form .comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field-form .comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #212121;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.comment:focus {
  border: 1px solid var(--alternative-color);
  color: var(--alternative-color);
}

.form-input:focus + .form-icon {
  color: var(--alternative-color);
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: currentColor;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-form + .field-form {
  margin-top: 10px;
}

.field-ugoda {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  margin-right: 7px;
}

.form-ugoda {
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-color-text);
  margin: 0;
}

.form-ugoda a {
  color: var(--alternative-color);
}

.form-icon-ugoda {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  opacity: 0;
}

.checkbox::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  opacity: 0;
}

.checkbox:not(:checked):after {
  opacity: 1;
}

.checkbox:checked + .form-icon-ugoda {
  opacity: 1;
}

.button-send {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-hero-background);
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */